*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Roboto", sans-serif;
font-style: normal;
}
body{

    background-color:  #8A51FC;
    background-image: linear-gradient(45deg, black, transparent);
}
.logo{
    display: block;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
main{
    display: block;
     width: 375px;
    margin-right:auto; 
    margin-left:auto;
    margin-top: 43px;
    margin-bottom: 23px;
    padding: 43px 24px 23px;
    background: #F4F4F4;
    border-radius: 20px;
}

label{
width: 80px;
height: 18px;
top: 44px;
left: 24px;
margin-bottom:24px;
gap: 0px;
opacity: 0px;
font-size: 17px;
font-weight: 400;
line-height: 18px;
text-align: left;
color: #777777;
}
select , input{
    width: 100%;
    height: 50px;
    margin-top:6px;
    margin-bottom:24px;
    left: 24px;
    border-radius: 4px;
    border: 1px 0px 0px 0px;
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    opacity: 0px;
    padding-left: 13px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: #555555;
    opacity: 0px;

}
input{
    color: #777777;
    box-shadow: 2px 2px 5px 0px #00000026;

}
button{
    display: block;
    width: 327px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
    border-radius: 7px;
    background-color: #772FD3;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    border:none;
    box-shadow: 0px 4px 4px 0px #00000040;

}

button:hover{
    opacity: 0.8;
}

button:active{
 opacity: 0.6;

}
section{

width: 327px;
height: auto;
top: 413px;
border-radius: 20px;
border: 1px solid #772FD3;
opacity: 0px;
padding: 12px ;
display: flex;
flex-direction: column;
align-items: center;
}
.currency-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:4px;

}
.arrow-img{
 margin: 13px 0px;
 display: flex;
flex-direction: column;
align-items: center;
}

.currency{
    font-size: 14px;
    line-height: 18px;
    color: #777777;
}

.currency-value , .currency-value-to-convert{
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    color: #555555;
  
}